<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .wrap {
            height: 90%;
            width: 90%;
            margin: 10px auto;
            overflow: hidden;
            position: relative;
            margin: 10px auto;
        }

        .wrap ul {
            position: absolute;
        }

        .wrap ul li {
            height: 90%;
        }

        .wrap ol {
            position: absolute;
            right: 5px;
            bottom: 10px;
        }

        .wrap ol li {
            height: 20px;
            width: 20px;
            background: #ccc;
            border: solid 1px #666;
            margin-left: 5px;
            color: #000;
            float: left;

            text-align: center;
            cursor: pointer;
        }

        .wrap ol .on {
            background: #E97305;
            color: #fff;
        }


        .modal {
            display: none;
            /* 默认隐藏 */
            position: fixed;
            /* 固定定位 */
            z-index: 1;
            /* 设置在顶层 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        /* 弹窗内容 */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* 关闭按钮 */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Learning Plan</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" th:href="@{'/UserPage/allplan/'+${user.User_name}}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">所有任务</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" th:href="@{'/UserPage/analysis/'+${user.User_name}}">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">任务分析</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">好友列表</span>
                </a>

                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a class="nav-link" th:href="@{'/UserPage/addfriends/'+${user.User_name}}">添加好友</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{'/UserPage/rank/'+${user.User_name}}">好友排行</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" th:href="@{'/UserPage/alldiary/'+${user.User_name}}">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">日记</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" th:href="@{'/UserPage/settings/'+${user.User_name}}">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">设置</span>
                </a>
            </li>
        </ul>

    </div>
</nav>


<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Highlight Your Efforts</h5>

                    </div>
                    <div class="ibox-content">
                        <p>
                            You can add a diary in this page for every single day.
                        </p>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            Add Diary
                        </button>
                        <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated swing">
                                    <form th:action=@{'/UserPage/adddiary/'+${user.User_name}} method="post">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Diary title</h4>
                                            <textarea rows="3" cols="25" style="overflow-y:hidden" class="font-bold" name="Diary_title"
                                                      placeholder="Diary Title"></textarea>
                                        </div>

                                        <textarea name="Diary_content" style="background-color: floralwhite;" rows="15"
                                                  cols="53" placeholder="Diary_content" ></textarea>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white"
                                                    data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="wrapper wrapper-content">
                    <div class="row animated fadeInRight">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-content" id="ibox-content">

                                    <div th:each="diary:${diaries}" id="vertical-timeline"
                                         class="vertical-container dark-timeline left-orientation">

                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg">
                                                <i class="fa fa-coffee"></i>
                                            </div>

                                            <div class="vertical-timeline-content">
                                                <h2 th:text="${diary.Diary_title}">Meeting</h2>
                                                <p th:text="${diary.Diary_content}">Conference on the sales results for the previous year. Monica
                                                    please
                                                    examine sales trends in marketing and products. Below please
                                                    find the
                                                    current status of the sale.
                                                </p>
                                                <a th:href="@{'/UserPage/deletediary/'+${user.getUser_name()}+'/'+${diary.getDiary_ID()}}" class="btn btn-sm btn-primary btn-link"> Delete</a>
                                                <span class="vertical-date">
                                                        <small th:text="${#dates.format(diary.Diary_createdTime,'yyyy-MM-dd')}">Dec 24</small>
                                                    </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>



<script>
    var btn = document.getElementById("myBtn");
    var modal = document.getElementById("myModal");
    var close = document.querySelector(".closePic");
    btn.onclick = function () {
        modal.style.display = "block";
    }
    close.onclick = function () {
        modal.style.display = "none";
    }
</script>

<script>
    var timelen = document.querySelector('.timeLength');
    var ji = document.querySelector('.jishi');
    var dao = document.querySelector('.daojishi');

    ji.onclick = function () {
        timelen.style.visibility = "hidden";
    }

    dao.onclick = function () {
        timelen.style.visibility = "visible";
    }
</script>
<!--
<script>
  // 获取弹窗
  var du = document.getElementById("dupeng");
  // alert(du);
  // function duPengShow() {
  // du.style.display = "block";
  //  }
  // 打开弹窗的按钮对象
   //var btn = document.getElementById("duBtn");
   var list = document.getElementsByClassName("duBtn");

   for(var i in list){
    list[i].onclick= function(){
       du.style.display = "block";
   }

   }
  </script>

  <script>
    var xu=document.getElementById("xuzhiwen");
    var list=document.getElementsByClassName("editMyplan");
    for(var i in list){
      list[i].onclick=function(){
        xu.style.display="block";
      }
    }
  </script>







  <script>
  var btn2 = document.querySelector(".startfirstplan");
  var modal2 = document.getElementById("myFirstplan");
  btn2.onclick = function(){
  modal2.style.display = "block";
  }
  </script>

 -->


<script type="text/javascript">
    window.onload = function () {
        var wrap = document.getElementById('wrap'),
            pic = document.getElementById('pic').getElementsByTagName("li"),
            list = document.getElementById('list').getElementsByTagName('li'),
            index = 0,
            timer = null;

        // 定义并调用自动播放函数
        timer = setInterval(autoPlay, 2000);

        // 鼠标划过整个容器时停止自动播放
        wrap.onmouseover = function () {
            clearInterval(timer);
        }

        // 鼠标离开整个容器时继续播放至下一张
        wrap.onmouseout = function () {
            timer = setInterval(autoPlay, 2000);
        }
        // 遍历所有数字导航实现划过切换至对应的图片
        for (var i = 0; i < list.length; i++) {
            list[i].onmouseover = function () {
                clearInterval(timer);
                index = this.innerText - 1;
                changePic(index);
            };
        }
        ;

        function autoPlay() {
            if (++index >= pic.length) index = 0;
            changePic(index);
        }

        // 定义图片切换函数
        function changePic(curIndex) {
            for (var i = 0; i < pic.length; ++i) {
                pic[i].style.display = "none";
                list[i].className = "";
            }
            pic[curIndex].style.display = "block";
            list[curIndex].className = "on";
        }

    };

</script>