<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>

<style>
  .card-header{background-color: rgb(192, 242, 248);}
  .img img{
    width: 30px;
    height: auto;
    clear:both;
  }
</style>

<body class="light-gray-bg">
  <div class="container">
    <div class="col-md-8">
      <br />
      <br />
      <div class="card-header">
        <div class="img">
          <img src="shangbiao.png"/> 
          <span style="font-size:25px">学习养成计划</span>
        </div>

      </div>
      <div class="form-row">
        <div class="col-lg-8">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">You are user or administator?</label>
      
                <div class="col-md-5">
                  <label class="radio-inline">
                    <input type="radio" th:checked="${stu.stu_sex}==true?1:0" name="stu_sex" id="inlineRadio1" value="1"> user
                  </label>
                  <label class="radio-inline">
                    <input type="radio" th:checked="${stu.stu_sex}==false?1:0" name="stu_sex" id="inlineRadio2" value="0"> administator
                  </label>
                </div>
      
              </div>

              <div class="remind">
                <label for="exampleInputEmail1" style="color: red;">用户名或密码错误</label>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" th:value="${stu.User_name}" name="User_name" class="form-control" id="inputName3" placeholder="用户名">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" th:value="${stu.User_pwd}" name="User_pwd" class="form-control" id="inputPassword3" placeholder="密码">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">记住密码</label>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">密钥(if you are administator)</label>
                <input type="password" th:value="${stu.User_pwd}" name="User_pwd" class="form-control" id="inputPassword3" placeholder="密钥">
              </div>

              <a class="btn btn-primary btn-block" href="index.html">登录</a>
            </form>
            <div class="form-row">
              <div class="col-md-6">
                <a class="d-block small mt-3" href="user_register.html">用户注册</a>
              </div>
              <div class="col-md-6">
                <div style="float:right;"><a class="d-block small mt-3" href="administrator_register.html">管理员注册</a></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4">
          <style type="text/css">
          .宣传语{
            color:red;
            font-size:28px;
          }
          </style>
          <div class="text-center">
            <br/>
            <br/>
            <img src="touxiang.jpg" width="150px" class="img-thumbnail"/>
            <br />
            <br />
            <br />
            <br /><br /><br />
            <p class="宣传语">
              今日的十分努力
              明日必百倍回馈
            </p>
           
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
