<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

  



</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="index.html">Learning Plan</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                  <a class="nav-link" th:href="@{'/UserPage/allplan/'+${user.User_name}}">
                      <i class="fa fa-fw fa-dashboard"></i>
                      <span class="nav-link-text">所有任务</span>
                  </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                  <a class="nav-link" th:href="@{'/UserPage/analysis/'+${user.User_name}}">
                      <i class="fa fa-fw fa-area-chart"></i>
                      <span class="nav-link-text">任务分析</span>
                  </a>
              </li>

              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                      <i class="fa fa-fw fa-table"></i>
                      <span class="nav-link-text">好友列表</span>
                  </a>

                  <ul class="sidenav-second-level collapse" id="collapseComponents">
                      <li>
                          <a class="nav-link" th:href="@{'/UserPage/addfriends/'+${user.User_name}}">添加好友</a>
                      </li>
                      <li>
                          <a class="nav-link" th:href="@{'/UserPage/rank/'+${user.User_name}}">好友排行</a>
                      </li>
                  </ul>
              </li>

              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                  <a class="nav-link" th:href="@{'/UserPage/alldiary/'+${user.User_name}}">
                      <i class="fa fa-fw fa-area-chart"></i>
                      <span class="nav-link-text">日记</span>
                  </a>
              </li>

              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                  <a class="nav-link" th:href="@{'/UserPage/settings/'+${user.User_name}}">
                      <i class="fa fa-fw fa-area-chart"></i>
                      <span class="nav-link-text">设置</span>
                  </a>
              </li>
          </ul>

      </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      
      <div class="row">
        <div class="col-9">



        </div>

        <div class="col-1 ">
            <img src="/img/kobe.png" width="50px" class="img-thumbnail">  
        </div>
        <div class="col-2" >
              石剑寒<textarea style="width: 80%" rows="1" placeholder="世上无难事"></textarea>
        </div>  
      </div>


      <div class="row">
          <div class="col-9">
              <table class="table">
                  <tr>
                      <th>排名</th>
                      <th>用户名</th>
                      <th>头像</th>
                      <th>性别</th>
                      <th>学习时长(分钟)</th>
                  </tr>
    
                  <tr th:each="User,userStat:${rankList}">
                    <td th:text="${userStat.index+1}">1</td>
                    <td th:text="${User.User_name}">石剑寒</td>
                    <td><img src="/img/kobe.png" width="30px" ></td>
                    <td>男</td>
                    <td th:text="${User.User_learningTime}">462</td>
                  </tr>
                  </table>
  
  
          </div>


          <div class = "col-3 ">
              <h2>Progress</h2>
              <table class="table">
                <tr>
                  <th>任务名称</th>
                  <th>任务时长</th>
                </tr>
                <tr>
                  <td>English</td>
                  <td>5h30min</td>
                </tr>    
                <tr><td colspan="2"><div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      60%
                    </div>
                  </td>
              </tr>
    
              <tr>
                  <td>Geometry</td>
                  <td>4h30min</td>
                </tr>    
                <tr><td colspan="2"><div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                      80%
                    </div>
                  </td>
              </tr>
    
              <tr>
                  <td>Math</td>
                  <td>1h30min</td>
                </tr>    
                <tr><td colspan="2"><div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                      20%
                    </div>
                  </td>
              </tr>
              </table>
            </div>

      </div>


      <div class="row">
          <div class = "col-9 ">

          </div>
          <div class = "col-3 ">
              <h4>Not Started</h4>
              <table class="table">
                <tr>
                  <th>任务名称</th>
                  <th>任务时长</th>
                </tr>
                <tr>
                  <td>Physics</td>
                  <td>1h30min</td>
                </tr>   
                <tr>
                    <td>Chemistry</td>
                    <td>2h30min</td>
                </tr>  
                </table>
          </div>
      </div>

     



      </div>
    </div>
  </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

</body>

</html>
