<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">Learning Plan</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" th:href="@{'/UserPage/allplan/'+${user.User_name}}">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">所有任务</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" th:href="@{'/UserPage/analysis/'+${user.User_name}}">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">任务分析</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
          <i class="fa fa-fw fa-table"></i>
          <span class="nav-link-text">好友列表</span>
        </a>

        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a class="nav-link" th:href="@{'/UserPage/friends/'+${user.User_name}}">添加好友</a>
          </li>
          <li>
            <a class="nav-link" th:href="@{'/UserPage/friends/'+${user.User_name}}">好友排行</a>
          </li>
        </ul>


      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">设置</span>
        </a>
      </li>
    </ul>

  </div>
</nav>


<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol>
      <table  id="planTable" style="VISIBILITY:hidden;DISPLAY: none;">
        <tr>
          <th>任务名称</th>
          <th>任务时长</th>
        </tr>
        <tr>
          <td>English</td>
          <td>600</td>
        </tr>    
        <tr>
          <td>Math</td>
          <td>300</td>
        </tr>  
        <tr>
          <td>Chinese</td> 
          <td>75</td>
        </tr>  
      </table>

      <div class="row">
        <div class="col-12">
           <div id="pieChart" style="width:700px; height:400px;"></div>
           <div id="lineChart" style="width:700px; height:400px;"></div>
           <div id="barChart" style="width:700px; height:400px;"></div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017 / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
  </div>
</body>

</html>

<script src="/js/echarts.min.js"></script>
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById('pieChart'));
  var myLineChart = echarts.init(document.getElementById('lineChart'));
  var myBarChart = echarts.init(document.getElementById('barChart'));

function getValue(){
  var myTable = document.getElementById('planTable');
  var arr=[];
  for(i=1;i<myTable.rows.length;i++){
     arr[i-1] = {value:parseInt(myTable.rows[i].cells[1].innerHTML),name:(myTable.rows[i].cells[0].innerHTML)};
  }
  return arr;
}

function getDataValue(){
  var myTable = document.getElementById('planTable');
  var arr=[];
  for(i=1;i<myTable.rows.length;i++){
     arr[i-1] = parseInt(myTable.rows[i].cells[1].innerHTML);
  }
  return arr;
}

function getNameValue(){
  var myTable = document.getElementById('planTable');
  var arr=[];
  for(i=1;i<myTable.rows.length;i++){
     arr[i-1] = (myTable.rows[i].cells[0].innerHTML);
  }
  return arr;
}
var a = getValue();
var dataArr = getDataValue();
var nameArr = getNameValue();

  myChart.setOption({
    title: {
        text: '本日学习记录'
    },
    series : [
        {
            name: '计划记录',
            type: 'pie',
            radius: '55%',
            data:a
        }
    ]
  })

  myLineChart.setOption(
    {
      title: {
        text: '本日学习记录'
    },
      xAxis: {
                data: nameArr
            },
            yAxis: {},
            series: [{
                name: '',
                type: 'line',
                data: dataArr
            }]
    }
  )

  myBarChart.setOption(
    {
      title: {
        text: '本日学习记录'
    },
      xAxis: {
                data: nameArr
            },
            yAxis: {},
            series: [{
                name: '',
                type: 'bar',
                data: dataArr
            }]
    }
  )
  </script>

